name: Node.js CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@v4

      - name: Use Node.js v24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Validate Dependencies
        uses: naomi-lgbt/dependency-pin-check@v0.0.0-rc2
        with:
            dev-dependencies: true
            peer-dependencies: true
            optional-dependencies: true

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build